{% from "/macros/translation.html" import transbag %}
{%- set t_subscribe = transbag('translate', this.alt, 'subscribe') -%}
{%- set t_name = transbag('translate', this.alt, 'name') -%}
{%- set t_email = transbag('translate', this.alt, 'email') -%}
{%- set t_subscribe_text = transbag('translate', this.alt, 'subscribe_text') -%}
{%- set t_topic = transbag('translate', this.alt, 'topic') -%}
{%- set t_topic_web = transbag('translate', this.alt, 'topic_web') -%}
{%- set t_topic_science = transbag('translate', this.alt, 'topic_science') -%}
{%- set t_topic_arti = transbag('translate', this.alt, 'topic_arti') -%}
{%- set t_topic_iot = transbag('translate', this.alt, 'topic_iot') -%}
{%- set t_subscribe_description = transbag('translate', this.alt, 'subscribe_description') -%}
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <h1 class="section-title">{{ t_subscribe_text }}</h1>
  <p class="text-center">{{ t_subscribe_description }}</p>
  <div class="form-container">
    <form action="//pyconcolombia.us13.list-manage.com/subscribe/post?u=948458ca54a966497e7ca6602&amp;id=7bd820999b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="row">
          <div class="mc-field-group col-md-4 col-sm-6 col-xs-12">
            <br>
            <input type="text" value="" name="NAME" class="required form-input" id="mce-NAME" placeholder="{{ t_name }}">
          </div>
          <div class="mc-field-group col-md-4 col-sm-6 col-xs-12">
            <br>
            <input type="email" value="" name="EMAIL" class="required email form-input" id="mce-EMAIL" placeholder="{{ t_email }}">
          </div>
          <div class="mc-field-group col-md-4 col-sm-12 col-xs-12">
            <br>
            <select name="group[10770]" class="REQ_CSS form-input" id="mce-group[10770]" required>
              <option value="" disabled selected hidden>{{ t_topic }}</option>
              <option value="1">{{ t_topic_web }}</option>
              <option value="2">{{ t_topic_science }}</option>
              <option value="4">{{ t_topic_arti }}</option>
              <option value="8">{{ t_topic_iot }}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_948458ca54a966497e7ca6602_7bd820999b" tabindex="-1" value="">
          </div>
          <br />
          <div class="col-md-4 col-sm-4 mx-auto">
            <input type="submit" value="{{t_subscribe}}" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-lg btn-block center-block">
          </div>
        </div>
      </div>
    </form>
    <div id="mce-responses" class="clear">
      <div class="response validation-message success-message" id="mce-error-response" style="display:none"></div>
      <div class="response validation-message error-message" id="mce-success-response" style="display:none"></div>
    </div>
  </div>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

<!--End mc_embed_signup-->
