{% from "/macros/translation.html" import transbag %}
{%- set t_newsletter_title = transbag('translate', this.alt, 'newsletter_title') -%}
{%- set t_newsletter_name = transbag('translate', this.alt, 'newsletter_name') -%}
{%- set t_newsletter_email = transbag('translate', this.alt, 'newsletter_email') -%}
{%- set t_newsletter_topic = transbag('translate', this.alt, 'newsletter_topic') -%}
{%- set t_newsletter_opc1 = transbag('translate', this.alt, 'newsletter_opc1') -%}
{%- set t_newsletter_opc2 = transbag('translate', this.alt, 'newsletter_opc2') -%}
{%- set t_newsletter_opc3 = transbag('translate', this.alt, 'newsletter_opc3') -%}
{%- set t_newsletter_opc4 = transbag('translate', this.alt, 'newsletter_opc4') -%}
{%- set t_newsletter_opc5 = transbag('translate', this.alt, 'newsletter_opc5') -%}
{%- set t_newsletter_opc6 = transbag('translate', this.alt, 'newsletter_opc6') -%}
{%- set t_newsletter_opc7 = transbag('translate', this.alt, 'newsletter_opc7') -%}
{%- set t_newsletter_opc8 = transbag('translate', this.alt, 'newsletter_opc8') -%}
{%- set t_newsletter_opc9 = transbag('translate', this.alt, 'newsletter_opc9') -%}
{%- set t_newsletter_opc10 = transbag('translate', this.alt, 'newsletter_opc10') -%}
{%- set t_newsletter_button = transbag('translate', this.alt, 'newsletter_button') -%}

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <h1 class="title-subscribe">{{ t_newsletter_title }}</h1>
  <div class="commet"></div>
  <div class="form-container">
    <form action="//pyconcolombia.us13.list-manage.com/subscribe/post?u=948458ca54a966497e7ca6602&amp;id=7bd820999b" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll form-subscribe">
        <div class="row justify-content-center form-subscribe">
          <div class="mc-field-group col-md-4 col-sm-6 col-xs-11 mx-auto">
            <input type="text" value="" name="NAME" class="required form-input subscribe-input" id="mce-NAME" placeholder="{{ t_newsletter_name }}" autocomplete="off">
          </div>
          <div class="mc-field-group col-md-4 col-sm-6 col-xs-12">
            <input type="email" value="" name="EMAIL" class="required form-input subscribe-input" id="mce-EMAIL" placeholder="{{ t_newsletter_email }}" autocomplete="off">
          </div>
          <div class="mc-field-group col-md-4 col-sm-12 col-xs-12">
            <select name="group[10770]" class="REQ_CSS form-input subscribe-input" id="mce-group[10770]" required>
              <option value="" disabled selected hidden>{{ t_newsletter_topic }}</option>
              <option value="1">{{ t_newsletter_opc1 }}</option>
              <option value="2">{{ t_newsletter_opc2 }}</option>
              <option value="3">{{ t_newsletter_opc3 }}</option>
              <option value="4">{{ t_newsletter_opc4 }}</option>
              <option value="5">{{ t_newsletter_opc5 }}</option>
              <option value="6">{{ t_newsletter_opc6 }}</option>
              <option value="7">{{ t_newsletter_opc7 }}</option>
              <option value="8">{{ t_newsletter_opc8 }}</option>
              <option value="9">{{ t_newsletter_opc9 }}</option>
              <option value="10">{{ t_newsletter_opc10 }}</option>
            </select>
          </div>
          <div class="mc-field-group col-md-3 col-sm-6 col-xs-12">
            <input type="submit" value="{{ t_newsletter_button }}" name="subscribe" id="mc-embedded-subscribe" class="subscribe-btn">
          </div>
        </div>
      </div>
    </form>
    <div id="mce-responses" class="clear">
      <div class="response validation-message success-message" id="mce-error-response" style="display:none"></div>
      <div class="response validation-message error-message" id="mce-success-response" style="display:none"></div>
    </div>
  </div>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

<!--End mc_embed_signup-->
