{%- from "/macros/translation.html" import transbag -%}


{%- macro render_room_author(talk, color='white') -%}
            {%- if talk.room -%}
            {%- set room = site.get('/rooms/' + talk.room, alt=this.alt) -%}
            <div class="text-left"><small><i>{{ room.name }}</i></small></div>
            {%- endif -%}
            {%- for author in talk.authors -%}
              {%- set current_author = site.get('/speakers/'+author, alt=this.alt) -%}
              {%- set t_country = transbag('translate', this.alt, current_author.country) -%}
            <span>
              <a class="link" style="color:{{ color }};" href="{{current_author|url(alt=this.alt)}}"><b>{{ current_author.name.split(' ')[0] }} {{ current_author.last_name }}</b>{%- if current_author.country -%}&nbsp;<small>({{ t_country }})</small>{% endif %}</a>{% if not loop.last %},&nbsp{% endif %}
            </span>
            {%- endfor -%}
{%- endmacro -%}


{%- macro render_schedule() -%}

  {%- set dates = [] -%}
  {%- for i in range((this.date_end - this.date_start).days + 1) -%}
    {%- set a = this.date_start.fromordinal(this.date_start.toordinal() + i) -%}
    {%- if dates.insert(i,a) %}{% endif -%}
  {%- endfor -%}

  {%- set talks_per_date_per_time = OrderedDict() -%}
  {%- set rooms_per_date = OrderedDict() -%}

  {%- for date in dates -%}
    {# Complex expressions doent work in filter() so date should be converted to datetime #}
    {%- set start = this.datetime.combine(date, this.datetime.min.time().replace(tzinfo=this.datetime.tzinfo)) -%}
    {%- set end = this.datetime.combine(date, this.datetime.max.time().replace(tzinfo=this.datetime.tzinfo)) -%}
    {%- set talks = site.query('/talks', alt=this.alt).filter(F.datetime >= start).filter(F.datetime_end <= end).order_by('datetime', '+room') -%}

    {%- set x = talks_per_date_per_time.__setitem__(date, OrderedDict()) -%}
    {%- set x = rooms_per_date.__setitem__(date, []) -%}

    {%- for talk in talks -%}
      {%- set time = talk.datetime.strftime('%H:%M') -%}
      {%- if time in talks_per_date_per_time[date] -%}
        {%- set x = talks_per_date_per_time[date][time].append(talk) -%}
      {%- else -%}
        {%- set x = talks_per_date_per_time[date].__setitem__(time, [talk]) -%}
      {%- endif -%}

      {%- if talk.room not in rooms_per_date[date] -%}
        {%- set x = rooms_per_date[date].append(talk.room) -%}
      {%- endif -%}

    {%- endfor -%}
  {%- endfor -%}

  <!-- Nav tabs -->
  <div class="row justify-content-center">
    <div class="col-12">



    <ul class="nav nav-tabs nav-fill" role="tablist">
    {% for date in dates %}
      {% set t_day = transbag('translate', this.alt, date.strftime('%A')) %}
      <li class="nav-item"">
        <a class="nav-link {% if loop.index == 1 %}active{% endif %}" data-toggle="pill" href="#tab-{{ date }}" aria-controls="tab-{{ date }}" role="tab">
        <span style="font-size:1.5em;"><b>{{ t_day }} {{ date.strftime('%d') }}</a> {#- Friday 9th #}</b></span>
      </li>
    {%- endfor %}
    </ul>
    <br>
    </div>
  </div>

  <!-- Tab panes -->
  <div class="tab-content text-center">
  {%- for date, talks_per_time in talks_per_date_per_time.items() -%}
    {% set all_talks = [] %}
    <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="tab-{{ date }}" role="tabpanel">
      <br>
    {%- for time, talks in talks_per_time.items() -%}
    {% if all_talks and all_talks[-1]|length != 1 and talks|length != 1 %}
      <hr style="background:white;margin:0 20px;">
    {% endif %}

    {%- set talk = talks[0]-%}
    {%- if talks|length == 1 and talk.type not in ['talk', 'workshop'] -%}

      {%- if talk.type in ['break'] -%}
        {% set icon = 'coffee' -%}
      {%- elif talk.type in ['lunch_break'] -%}
        {% set icon = 'cutlery' -%}
      {%- elif talk.type in ['lightning'] -%}
        {% set icon = 'bolt' -%}
      {%- elif talk.type in ['closing', 'opening'] -%}
        {% set icon = 'power-off' -%}
      {%- elif talk.type in ['inscription'] -%}
        {% set icon = 'address-book' -%}
      {%- elif talk.type in ['keynote'] -%}
        {% set icon = 'user-circle' -%}
      {%- endif -%}
      <div class="schedule schedule-{{talks[0].type}}">
        <div class="row align-items-center">

          <div class="col-lg-3">
            <h2 class="text-left">{{ time.split(':')[0] }}:<small>{{ time.split(':')[-1] }}</small></h2>
          </div>
          <div class="col-lg-9 text-left">
            {{ render_room_author(talk, color='#3e1a87') }}
            <h2 class="text-left"><i class="fa fa-{{icon}}" aria-hidden="true"></i> {{ talk.name }}</h2>
          </div>

        </div>
      </div>
    {%- else -%}
      <div class="schedule schedule-multiple" >
        <div class="row align-items-center">

          <div class="col-lg-3">
            <h2 class="text-left">{{ time.split(':')[0] }}:<small>{{ time.split(':')[-1] }}</small></h2>
          </div>
          {%- for talk in talks -%}
          <div class="col-lg-3 text-left schedule-multiple-item">
            {{ render_room_author(talk, color='white') }}
            <div>
              {% set t_type = transbag('translate', this.alt, 'type_' + talk.type) %}
              <small><b>{{ t_type }}
              {%- if talk.language -%}
              {% set t_lang = transbag('translate', this.alt, talk.language) %}
              ({{ t_lang }})
              {%- endif -%}
              :
              </b>
                <a class="link" style="color:white;" href="{{talk|url(alt=this.alt)}}">{{ talk.name }}</a>
              </small>
            </div>
          </div>        
          {%- endfor -%}

        </div>
      </div>
    {%- endif -%}

      {% set x = all_talks.append(talks) %} {# Keep track of previous block to decide if a <hr> is needed #}
    {%- endfor -%}
    </div>
  {%- endfor -%}
  </div><!-- End Tab panes -->
{%- endmacro -%}

{{ render_schedule() }} 