/*Transitions*/


.transition-mdl-hover
	transition: all 0.28s cubic-bezier(.4,0,.2,1)
	-moz-transition all 0.28s cubic-bezier(.4,0,.2,1)
	-o-transition all 0.28s cubic-bezier(.4,0,.2,1)
	-webkit-transition all 0.28s cubic-bezier(.4,0,.2,1)

.transition-mdl-elements
	transition: all 0.2s cubic-bezier(.4,0,.2,1)
	-moz-transition all 0.2s cubic-bezier(.4,0,.2,1)
	-o-transition all 0.2s cubic-bezier(.4,0,.2,1)
	-webkit-transition all 0.2s cubic-bezier(.4,0,.2,1)

@keyframes spin {
  from {
    transform rotate(359deg)
    -webkit-transform rotate(359deg)
  }
  to {
    transform rotate(0deg)
    -webkit-transform rotate(0deg)
  }
}