
color-primary = #00CFC9;


color-accent = #410d89;


color-text-primary = #3E4751;
color-text-secondary = #757575;
color-text-disable = #999999; /*Also for inactive*/
color-text-inactive = #CCCCCC; /*Original inactive color of MDL*/

color-white = #ffffff;
color-black = #000000;

