
#clockdiv {
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div {
	padding: 10px;
	margin: 5px 0;
	/* border-radius: 3px;
	background: #1a237e; */
	height: auto;
	display: inline-block;
}

#clockdiv div > span {
	font-size: 1em;
	padding: 15px;
	border-radius: 50%;
	background: #1a237e;
	display: inline-block;
	text-shadow: 2px 2px #333;
	background: #c7cbd0;
  border-radius: 50%;
  box-shadow: inset -10px -10px 0 0px #9098a1;
  transition: transform 0.2s ease-in-out;
}

.smalltext {
	padding-top: 5px;
	font-size: 16px;
}