.transition-mdl-hover{transition:all 0.28s cubic-bezier(0.4, 0, 0.2, 1);-moz-transition:all 0.28s cubic-bezier(0.4, 0, 0.2, 1);-o-transition:all 0.28s cubic-bezier(0.4, 0, 0.2, 1);-webkit-transition:all 0.28s cubic-bezier(0.4, 0, 0.2, 1)}.transition-mdl-elements{transition:all 0.2s cubic-bezier(0.4, 0, 0.2, 1);-moz-transition:all 0.2s cubic-bezier(0.4, 0, 0.2, 1);-o-transition:all 0.2s cubic-bezier(0.4, 0, 0.2, 1);-webkit-transition:all 0.2s cubic-bezier(0.4, 0, 0.2, 1)}@-moz-keyframes spin{0%{transform:rotate(359deg);-webkit-transform:rotate(359deg)}to{transform:rotate(0deg);-webkit-transform:rotate(0deg)}}@-webkit-keyframes spin{0%{transform:rotate(359deg);-webkit-transform:rotate(359deg)}to{transform:rotate(0deg);-webkit-transform:rotate(0deg)}}@-o-keyframes spin{0%{transform:rotate(359deg);-webkit-transform:rotate(359deg)}to{transform:rotate(0deg);-webkit-transform:rotate(0deg)}}@keyframes spin{0%{transform:rotate(359deg);-webkit-transform:rotate(359deg)}to{transform:rotate(0deg);-webkit-transform:rotate(0deg)}}.header-content{background-size:cover;color:#fff;min-height:100vh;position:relative;overflow:hidden;width:100%}.header-content .logo{background:url("images/logo.svg") center center no-repeat;background-size:contain;height:115px;margin:10px auto 35px;width:auto}.header-content .commet{background:url("images/commet.svg") center center no-repeat;background-size:contain;height:40px;margin:0 auto;mix-blend-mode:screen;width:150px}.header-content .planet-left{background:url("images/planet-left.svg") center center no-repeat;background-size:contain;height:385px;left:-67px;margin:0 auto;mix-blend-mode:screen;position:absolute;top:260px;width:385px}.header-content .planet-right{background:url("images/planet-right.svg") center center no-repeat;background-size:contain;height:468px;margin:0 auto;mix-blend-mode:screen;position:absolute;right:-170px;top:320px;width:647px}.header-content .date{color:#fff;font-size:38px;font-weight:300;letter-spacing:5px;line-height:1.5;opacity:0.8;text-align:center;}.header-content .apply-content{position:relative;text-align:center}.header-content .planet-earth-content{bottom:-450px;left:0;position:absolute;right:0;top:-300px}.header-content .planet-earth-content .planet-earth-glow{background:url("images/planet-earth-glow.svg") top center no-repeat;background-size:contain;bottom:0;content:'';left:0;margin:0 auto;mix-blend-mode:color-dodge;position:absolute;right:0;top:0;z-index:0}.header-content .planet-earth-content .planet-earth-top-glow{background:url("images/planet-earth-top-glow.svg") top center no-repeat;background-size:contain;bottom:0;content:'';left:0;margin:0 auto;mix-blend-mode:screen;position:absolute;right:0;top:0;z-index:1}.header-content .planet-earth-content .planet-earth{background:url("images/planet-earth.svg") top center no-repeat;background-size:contain;bottom:0;left:0;margin:0 auto;position:absolute;right:0;top:0;z-index:2}.header-content .cfp-message{color:#fff;font-size:33px;font-weight:300;letter-spacing:4px;line-height:1.2;margin-bottom:32px;opacity:0.8;position:relative;text-align:center;text-transform:uppercase;z-index:10}.header-content .apply-btn{background:#0079ac;background:-moz-radial-gradient(top, #0079ac 0%, #014f70 100%);background:-webkit-radial-gradient(top, #0079ac 0%, #014f70 100%);background:-o-radial-gradient(top, #0079ac 0%, #014f70 100%);background:radial-gradient(to bottom, #0079ac 0%, #014f70 100%);border:1px solid #94b8df;border-radius:100px;-webkit-box-shadow:0 0 20px rgba(255,255,255,0.9), 0 0 70px rgba(161,45,116,0.7);box-shadow:0 0 20px rgba(255,255,255,0.9), 0 0 70px rgba(161,45,116,0.7);color:#fff;display:inline-block;font-size:22px;font-weight:300;letter-spacing:4px;line-height:1.2;height:43px;margin:0 20px 130px;padding-top:7px;position:relative;text-align:center;width:220px;z-index:10}.header-content .apply-btn:focus,.header-content .apply-btn:hover{text-decoration:none}.header-content .apply-btn span{opacity:0.8}.header-content .social-icons-container{margin-bottom:150px;text-align:center;position:relative;z-index:10}.header-content .social-icons-container .social-icon{background:center center no-repeat;background-size:contain;display:inline-block;height:35px;margin:0 21px;opacity:0.8;width:35px}.header-content .social-icons-container .social-icon.social-twitter{background-image:url("images/social-twitter.svg")}.header-content .social-icons-container .social-icon.social-facebook{background-image:url("images/social-facebook.svg")}.header-content .social-icons-container .social-icon.social-instagram{background-image:url("images/social-instagram.svg")}.header-content .social-icons-container .social-icon.social-medium{background-image:url("images/social-medium.svg")}@media screen and (max-height:901px){.header-content .apply-btn{margin:0 20px 90px}}@media screen and (min-width:992px) and (max-height:650px){.header-content{min-height:150vh}.header-content .apply-btn{margin:0 auto 70px}}@media screen and (min-width:991px) and (max-width:1300px) and (min-height:700px){.header-content{min-height:150vh}}@media screen and (max-width:767px){.header-content .logo{height:70px;margin:50px auto 25px}.header-content .commet{height:35px}.header-content .planet-left{display:none}.header-content .planet-right{display:none}.header-content .date{font-size:35px;letter-spacing:5px;line-height:1.3;}.header-content .planet-earth-content{left:-50%;right:-50%;top:0}.header-content .cfp-message{font-size:28px;letter-spacing:3px;line-height:1.2;margin-bottom:25px}.header-content .apply-btn{font-size:21px;letter-spacing:3px;height:39px;margin:0 5px 90px;width:160px}}@media screen and (max-width:330px){.header-content .logo{height:60px;margin:40px auto 15px}.header-content .date{font-size:30px;}.header-content .cfp-message{font-size:23px}.header-content .social-icons-container{margin-bottom:100px}.header-content .social-icons-container .social-icon{height:30px;margin:0 18px;width:30px}.header-content .apply-btn{font-size:19px;letter-spacing:2px;height:38px;margin:0 0 90px;width:140px}}*{font-family:'Ubuntu', 'Helvetica', 'Arial', sans-serif}body{background-size:cover;font-family:'Ubuntu', 'Helvetica', 'Arial', sans-serif}a{color:#fff;text-decoration:none}.container-box{margin-left:auto;margin-right:auto;max-width:950px}.row-no-padding [class*=col-]{padding-left:0!important;padding-right:0!important}.container-no-padding{padding-left:0!important;padding-right:0!important}.row-centered{text-align:center}.col-centered{display:inline-block;float:none;margin-right:-4px;text-align:center;vertical-align:top}.background-content{overflow:hidden;position:relative}.background-content:after,.background-content:before{background-position:center;background-repeat:no-repeat;background-size:cover;bottom:0;content:'';left:0;position:absolute;right:0;top:0;z-index:0}input{outline:none!important}@media screen and (max-width:991px){body{zoom:100%}}

a {
  text-decoration: none;
}

.header-content .date {
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: 1.5;
  opacity: 0.8;
  text-align: center;
}

.header-content .location {
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: 1.5;
  opacity: 0.8;
  text-align: center;
  text-transform: uppercase;
}

.header-content .place {
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: 1.5;
  opacity: 0.8;
  text-align: center;
  margin-bottom: 2em;
}

.header-content hr {
  border: 0;
  height: 1px;
  background: #fff;
  max-width: 500px;
  width: 95%;
}

.header-content .ticket {
  margin-bottom: 4em;
}

.header-content .ticket:hover {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: shake;
  animation-name: shake;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.4);
  height: 70px;
}

.navbar-toggler-icon {
  color: #fff;
}

/* Scroll */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.overlay {
  background: rgb(57,203,243);
  margin: 40px;
}

.overlay:hover {
  background: none;
}

/* .blend {
  mix-blend-mode: multiply;
} */

.blend:hover {
  mix-blend-mode: initial;
}

.shadow {
  webkit-box-shadow: 0 0 50px rgba(0, 152, 184,0.9), 0 0 100px #0079ac;
  box-shadow: 0 0 50px rgba(0, 152, 184,0.9), 0 0 100px #0079ac;
}

.round {
  border-radius: 100%;
  height: 400px;
  overflow: hidden;
  /* position: relative; */
  width: 400px;
}

.square {
  border-radius: 50%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

/* Menu */

@media (max-width: 992px) {
  nav .nav-item, nav .my-2 {
    background-color: #231f2a;
    color: #fff;
    font-size: 33px;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 1.2;
    opacity: 0.98;
    text-align: center;
    text-transform: uppercase;
    margin: 0 -30px !important;
  }

  nav .my-2 {
    font-size: 25px;
    padding: 30px;
  }

  .navbar {
    background-color: #231f2a;
  }
}

/* Map */

#mapid { height: 50vh; }