{%- from "macros/translation.html" import transbag -%}

{% macro speaker_left(speaker, index) %}
{%- set complete_name = speaker.name + " " + speaker.last_name -%}
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="speaker-image-container">
      <a href="{{ speaker | url }}">
        <img class="speaker-image img-fluid" id="speaker-image-link-{{ index }}" alt="{{ complete_name }}" src={%- if speaker.image
          -%}
          "{%- if speaker.keynote -%}/keynotes/{%- else -%}/speakers/{%- endif -%}{{ speaker._id }}/{{ speaker.image }}" {%- else -%} "/static/images/empty-photo.svg" {%- endif -%} />
      </a>
    </div>
  </div>
  <div class="col-md-8 col-sm-6 col-xs-12">
    <div class="speaker-details text-left">
      <h1 class="speaker-name">{{ complete_name }}</h1>
      <h2 class="speaker-info">{{ speaker.position }}</h2>
      <h3 class="speaker-info">{{ speaker.email }}</h3>
    </div>
  </div>
{% endmacro %}

{% macro speaker_right(speaker, index) %}
{%- set complete_name = speaker.name + " " + speaker.last_name -%}
<div class="col-md-8 col-sm-6 col-xs-12">
  <div class="speaker-details text-right">
    <h1 class="speaker-name">{{ complete_name }}</h1>
    <h2 class="speaker-info">{{ speaker.position }}</h2>
    <h3 class="speaker-info">{{ speaker.email }}</h3>
  </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="speaker-image-container">
    <a href="{{ speaker | url }}">
      <img class="speaker-image img-fluid" id="speaker-image-link-{{ index }}" alt="{{ complete_name }}" src={%- if speaker.image
          -%}
          "{%- if speaker.keynote -%}/keynotes/{%- else -%}/speakers/{%- endif -%}{{ speaker._id }}/{{ speaker.image }}" {%- else -%} "/static/images/empty-photo.svg" {%- endif -%} />
    </a>
  </div>
</div>
{% endmacro %}

{% macro render_keynote_speaker(speaker, index=1, details=True) %}
  <div class="speaker-container">
    <div class="row justify-content-center align-self-center">
      {%- if index % 2 == 1 -%}
        {{ speaker_left(speaker, index) }}
      {%- else -%}
        {{ speaker_right(speaker, index) }}
      {%- endif -%}
    </div>
  </div>
{% endmacro %}