{% macro render_sponsors(sponsor_list, size) %}
<div class="row_sponsor">
  <div class="row">
    {% for item in sponsor_list %}
    <div class="col-md-{{size}} col-sm-12 col-xs-12 mx-auto">
      <div class="sponsor-ini">
        <a href={%- if item.web -%}"{{ item.web }}" {%- else -%} "" {%- endif -%} target="blank_" >
          <img src={%- if item.image -%} "/patrocinadores/{{ item._id }}/{{ item.image }}" {%- else -%}
            "/static/images/empty-photo.svg" {%- endif -%} />
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro render_sponsors_web(sponsor_list) %}
<div class="col-md-8 col-xs-12">
  {% for item in sponsor_list %}
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <div class="sponsor-web">
        <a href={%- if item.web -%}"{{ item.web }}" {%- else -%} "" {%- endif -%} target="blank_">
          <img src={%- if item.image -%} "/patrocinadores/{{ item._id }}/{{ item.image }}" {%- else -%}
            "/static/images/empty-photo.svg" {%- endif -%} />
        </a>
      </div>
    </div>
    <div class="col-sm-12 mx-auto">
      <div class="sponsor-summary">{{ item.summary }}</div>
    </div>
  </div>
  {% endfor %}
</div>
{% endmacro %}