{%- from "macros/translation.html" import transbag -%}

{% extends "layout.html" %} 
{%- from "macros/speakers.html" import render_keynote_speaker -%}

{%- set t_intro_location = transbag('translate', this.alt, 'intro_location') -%}
{%- set t_intro_date = transbag('translate', this.alt, 'intro_date') -%}
{%- set t_intro_place = transbag('translate', this.alt, 'intro_place') -%}
{%- set t_intro_clock_days = transbag('translate', this.alt, 'intro_clock_days') -%}
{%- set t_intro_clock_hours = transbag('translate', this.alt, 'intro_clock_hours') -%}
{%- set t_intro_clock_minutes = transbag('translate', this.alt, 'intro_clock_minutes') -%}
{%- set t_intro_clock_seconds = transbag('translate', this.alt, 'intro_clock_seconds') -%}
{%- set t_intro_message = transbag('translate', this.alt, 'intro_message') -%}
{%- set t_button_talks = transbag('translate', this.alt, 'button_talks') -%}
{%- set t_button_workshops = transbag('translate', this.alt, 'button_workshops') -%}
{%- set t_footer_message = transbag('translate', this.alt, 'footer_message') -%}
{%- set t_intro_keynotes = transbag('translate', this.alt, 'intro_keynotes') -%}


{%- block body -%}

  <main>
    {% include './partials/_resume_speakers.html' %}
    <div class="container-fluid container-no-padding header-content intro-background">
      <div class="section">
        <div class="logo"></div>
        <div class="planet-left"></div>
        <div class="planet-right"></div>
        <div class="commet"></div>
        <div class="location">{{ t_intro_location }}</div>
        <hr />
        <div class="date">{{ t_intro_date }}, 2019</div>
        <div class="place">{{ t_intro_place }}</div>
        <div class="text-center ticket">
          <a href="{{ this.tickets_link }}" target="blank_">
            <img src="{% if this.alt == 'en' %} {{ base_url }}static/images/boleta.svg {% else %} {{ base_url }}static/images/boleta_es.svg {% endif %}" style="max-width: 350px; width: 95%;" class="centered" alt="">
          </a>
        </div>
        {%- if 'speakers-call' in this.sections -%}
        <div id="cfp">
          <p class="cfp-message">
            {{ t_intro_message }}
          </p>
          <div class="cfp-message">
            <div id="clockdiv">
              <div>
                <span class="days"></span>
                <div class="smalltext">{{ t_intro_clock_days }}</div>
              </div>
              <div>
                <span class="hours"></span>
                <div class="smalltext">{{ t_intro_clock_hours }}</div>
              </div>
              <div>
                <span class="minutes"></span>
                <div class="smalltext">{{ t_intro_clock_minutes }}</div>
              </div>
              <div>
                <span class="seconds"></span>
                <div class="smalltext">{{ t_intro_clock_seconds }}</div>
              </div>
            </div>
            <div class="row justify-content-center">
              <a href="https://www.papercall.io/pycon-colombia-2019-talks" target="_blank" class="apply-btn">
                <span>{{ t_button_talks }}</span>
              </a>
              <a href="https://www.papercall.io/pycon-colombia-2019-workshops" target="_blank" class="apply-btn">
                <span>{{ t_button_workshops }}</span>
              </a>
            </div>
          </div>
        </div>
        <div id="clockEvent">
          <!-- <p class="cfp-message">
            {{ t_intro_message }}
          </p> -->
          <div class="cfp-message">
            <div id="clockEventdiv">
              <div>
                <span class="days"></span>
                <div class="smalltext">{{ t_intro_clock_days }}</div>
              </div>
              <div>
                <span class="hours"></span>
                <div class="smalltext">{{ t_intro_clock_hours }}</div>
              </div>
              <div>
                <span class="minutes"></span>
                <div class="smalltext">{{ t_intro_clock_minutes }}</div>
              </div>
              <div>
                <span class="seconds"></span>
                <div class="smalltext">{{ t_intro_clock_seconds }}</div>
              </div>
            </div>
          </div>
        </div>
        {%- endif -%}
      </div>
    </div>
    <div class="container-fluid container-no-padding header-content keynotes-background">
      <div class="section">
        <div class="apply-content">
          <div class="col-md-8 col-sm-10 col-xs-10 mx-auto">
            {% set speakers = site.query('/keynotes', alt=this.alt).filter(F.keynote).filter(F.publish) %}

            <h1 class="title-subscribe">{{ t_intro_keynotes }}</h1>
            <div class="commet"></div>
            <div class="form-container">
              <div class="keynotes">
                {% for speaker in speakers %} {{ render_keynote_speaker(speaker, index=loop.index, details=True) }} {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid container-no-padding header-content subscribe-background">
      <div class="section">
        <div class="apply-content">
          <div class="col-md-8 col-sm-12 col-xs-12 mx-auto">
            {% include 'partials/_mailchimp.html' %}
          </div>
        </div>
      </div>
      {% include 'partials/_footer.html' %}
    </div>
  </main>
<script src="{{ base_url }}static/js/clock.js"></script>
{%- endblock -%}