{%- set base_url = '/'|url(alt='es') -%}
{%- from "macros/translation.html" import transbag -%}

{%- macro item_url(identifier) -%}
  {% set identifier_url = '/' + identifier %}
  {% set trans_url = identifier_url|url(alt=this.alt) %}

  {{ trans_url }}
{%- endmacro -%}

{% extends "layout.html" %}
{%- from "macros/speakers.html" import render_keynote_speaker -%}
{%- from "macros/sponsors.html" import render_sponsors -%}
{%- from "macros/sponsors.html" import render_sponsors_venue -%}

{%- set t_intro_location = transbag('translate', this.alt, 'intro_location') -%}
{%- set t_intro_date = transbag('translate', this.alt, 'intro_date') -%}
{%- set t_intro_place = transbag('translate', this.alt, 'intro_place') -%}
{%- set t_intro_clock_days = transbag('translate', this.alt, 'intro_clock_days') -%}
{%- set t_intro_clock_hours = transbag('translate', this.alt, 'intro_clock_hours') -%}
{%- set t_intro_clock_minutes = transbag('translate', this.alt, 'intro_clock_minutes') -%}
{%- set t_intro_clock_seconds = transbag('translate', this.alt, 'intro_clock_seconds') -%}
{%- set t_intro_message = transbag('translate', this.alt, 'intro_message') -%}
{%- set t_button_talks = transbag('translate', this.alt, 'button_talks') -%}
{%- set t_button_workshops = transbag('translate', this.alt, 'button_workshops') -%}
{%- set t_button_dg = transbag('translate', this.alt, 'button_dg') -%}
{%- set t_footer_message = transbag('translate', this.alt, 'footer_message') -%}
{%- set t_intro_keynotes = transbag('translate', this.alt, 'intro_keynotes') -%}
{%- set t_intro_sponsors = transbag('translate', this.alt, 'intro_sponsors') -%}
{%- set t_message_sponsors = transbag('translate', this.alt, 'message_sponsors') -%}

{% set venue = site.query('/sponsors', alt=this.alt).filter(F.confirmed).filter(F.category ==
'venue').order_by('_id') %}
{% set diamond = site.query('/sponsors', alt=this.alt).filter(F.confirmed).filter(F.category ==
'diamond').order_by('_id') %}
{% set platinum = site.query('/sponsors', alt=this.alt).filter(F.confirmed).filter(F.category ==
'platinum').order_by('_id') %}
{% set gold = site.query('/sponsors', alt=this.alt).filter(F.confirmed).filter(F.category ==
'gold').order_by('_id') %}
{% set silver = site.query('/sponsors', alt=this.alt).filter(F.confirmed).filter(F.category ==
'silver').order_by('_id') %}
{% set bronze = site.query('/sponsors', alt=this.alt).filter(F.confirmed).filter(F.category ==
'bronze').order_by('_id') %}
{% set startup = site.query('/sponsors', alt=this.alt).filter(F.confirmed).filter(F.category ==
'startup').order_by('_id') %}
{% set partner = site.query('/sponsors', alt=this.alt).filter(F.confirmed).filter(F.category ==
'partner').order_by('_id') %}
{% set support = site.query('/sponsors', alt=this.alt).filter(F.confirmed).filter(F.category ==
'support').order_by('_id') %}

{%- set t_title_scholarship = transbag('translate', this.alt, 'title_scholarship') -%}
{%- set t_content_scholarship = transbag('translate', this.alt, 'content_scholarship') -%}
{%- set t_button_scholarship = transbag('translate', this.alt, 'button_scholarship') -%}

{%- block body -%}

<main>
  {% include './partials/_resume_keynotes.html' %}
  <div class="container-fluid container-no-padding header-content intro-background">
    <div class="container">
      <div class="col-md-10 col-sm-12 col-xs-12 mx-auto">
        <div class="section">
          <div class="logo"></div>
          <div class="planet-left"></div>
          <div class="planet-right"></div>
          <div class="commet"></div>
          <div class="location">{{ t_intro_location }}</div>
          <hr />
          <div class="date">{{ t_intro_date }}, 2019</div>
          <div class="place">{{ t_intro_place }}</div>
          {%- if 'tickets' in this.sections -%}
            <div class="text-center ticket">
              <a href="{{ this.tickets_link }}" target="blank_">
                <img src="{% if this.alt == 'en' %} {{ base_url }}static/images/boleta.svg {% else %} {{ base_url }}static/images/boleta_es.svg {% endif %}"
                  class="centered" alt="">
              </a>
            </div>
          {%- endif -%}
          {%- if 'speakers-call' in this.sections -%}
          <div id="cfp">
            <p class="cfp-message">
              {{ t_intro_message }}
            </p>
            <div class="cfp-message">
              <div id="clockdiv">
                <div>
                  <span class="days"></span>
                  <div class="smalltext">{{ t_intro_clock_days }}</div>
                </div>
                <div>
                  <span class="hours"></span>
                  <div class="smalltext">{{ t_intro_clock_hours }}</div>
                </div>
                <div>
                  <span class="minutes"></span>
                  <div class="smalltext">{{ t_intro_clock_minutes }}</div>
                </div>
                <div>
                  <span class="seconds"></span>
                  <div class="smalltext">{{ t_intro_clock_seconds }}</div>
                </div>
              </div>
              <div class="row justify-content-center">
                <a href="https://www.papercall.io/pycon-colombia-2019-talks" target="_blank" class="apply-btn">
                  <span>{{ t_button_talks }}</span>
                </a>
                <a href="https://www.papercall.io/pycon-colombia-2019-workshops" target="_blank" class="apply-btn">
                  <span>{{ t_button_workshops }}</span>
                </a>
              </div>
            </div>
          </div>
          <div id="clockEvent">
            <div class="cfp-message">
              <div id="clockEventdiv">
                <div>
                  <span class="days"></span>
                  <div class="smalltext">{{ t_intro_clock_days }}</div>
                </div>
                <div>
                  <span class="hours"></span>
                  <div class="smalltext">{{ t_intro_clock_hours }}</div>
                </div>
                <div>
                  <span class="minutes"></span>
                  <div class="smalltext">{{ t_intro_clock_minutes }}</div>
                </div>
                <div>
                  <span class="seconds"></span>
                  <div class="smalltext">{{ t_intro_clock_seconds }}</div>
                </div>
              </div>
            </div>
          </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid container-no-padding header-content keynotes-background">
    <div class="container">
      <div class="section">
        <div class="apply-content">
          <div class="col-md-10 col-sm-12 col-xs-12 mx-auto">
            {% set speakers = site.query('/keynotes', alt=this.alt).filter(F.keynote).filter(F.publish) %}

            <h1 class="title-subscribe">{{ t_intro_keynotes }}</h1>
            <div class="commet"></div>
            <div class="form-container">
              <div class="keynotes">
                {% for speaker in speakers %} {{ render_keynote_speaker(speaker, index=loop.index, details=True) }} {%
                endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- if 'scholarships' in this.sections -%}
    <div class="container-fluid container-no-padding header-content background-sponsor">
      <div class="container">
        <div class="section">
          <div class="apply-content">
            <div class="row">
              <div class="col-md-10 col-sm-12 col-xs-12 mx-auto">
                <h1 class="title-subscribe">{{ t_title_scholarship }}</h1>
                <div class="commet"></div>
                <div class="dg-body">
                  {{ t_content_scholarship }}
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <a href="{{'/becas'|url(alt=this.alt)}}" class="apply-btn">
                <span>{{ t_button_scholarship }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
  {#
    <div class="container-fluid container-no-padding header-content background-sponsor">
        <div class="container">
          <div class="section">
            <div class="apply-content">
              <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12 mx-auto">
                  <h1 class="title-subscribe">Cronograma</h1>
                  <div class="commet"></div>
                  <div class="dg-body">
                    {%- include 'partials/_schedule.html' -%}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  #}
  <div class="container-fluid container-no-padding header-content background-sponsor">
    <div class="container">
      <div class="section">
        <div class="apply-content">
          <div class="row">
            <div class="d-none d-md-block col-md-2">
              <div class="row justify-content-center align-self-center dg-animal">
                <img src="{{ base_url }}static/images/pony-left.svg" />
              </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 mx-auto">
              <img class="logo-dg" src="{{ base_url }}static/images/DG.svg" />
              <div class="commet"></div>
              {% set django_girls = site.get('/django-girls', alt=this.alt) %}
              <div class="dg-body">
                {{ django_girls.body }}
              </div>
            </div>
            <div class="d-none d-md-block col-md-2">
              <div class="row justify-content-center align-self-center dg-animal">
                <img src="{{ base_url }}static/images/pony-right.svg" />
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <a href="https://dg.pycon.co" target="_blank" class="apply-btn">
              <span>{{ t_button_dg }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid container-no-padding header-content background-sponsor">
    <div class="container">
      <div class="section">
        <div class="apply-content">
          <div class="col-md-10 col-sm-12 col-xs-12 mx-auto">
            <h1 class="title-subscribe"><a href="{{item_url('sponsors')}}">{{ t_intro_sponsors }}</a></h1>
            <p class="message-intro">
              {{ t_message_sponsors }}
            </p>
            <div class="commet"></div>
            <div>
              {% if venue %}
              {{ render_sponsors(venue, 8) }}
              {% endif %}
              {% if diamond %}
              {{ render_sponsors(diamond, 6) }}
              {% endif %}
              {% if platinum %}
              {{ render_sponsors(platinum, 5) }}
              {% endif %}
              {% if gold %}
              {{ render_sponsors(gold, 4) }}
              {% endif %}
              {% if silver %}
              {{ render_sponsors(silver, 3) }}
              {% endif %}
              {% if startup %}
              {{ render_sponsors(startup, 2) }}
              {% endif %}
              {% if partner %}
              {{ render_sponsors(partner, 2) }}
              {% endif %}
              {% if support %}
              {{ render_sponsors(support, 2) }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mapid"></div>
  <div class="container-fluid container-no-padding header-content subscribe-background">
    <div class="container">
      <div class="section">
        <div class="apply-content">
          <div class="col-md-10 col-sm-12 col-xs-12 mx-auto">
            {% include 'partials/_mailchimp.html' %}
          </div>
        </div>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12 mx-auto">
        {% include 'partials/_footer.html' %}
      </div>
    </div>
  </div>
</main>
<script src="{{ base_url }}static/js/clock.js"></script>
{%- endblock -%}