 {% extends "layout.html" %} {%- from "macros/speakers.html" import render_keynote_speaker -%} {%- block body -%}
<body class="background-keynotes">
  <div class="mdl-layout mdl-js-layout layout-home">
    <main>
      <!-- class="mdl-layout__content" -->
      <div>
        <!-- class="page-content" -->
        <div class="container-fluid container-no-padding header-content">
          <div class="section">
            <div class="apply-content">

              {% set speakers = site.query('/keynotes', alt=this.alt).filter(F.keynote).filter(F.publish).order_by('_id') %}
              <div class="row justify-content-center">
                <div class="col-md-8 col-sm-8 col-xs-10 mx-auto">
                <h1 class="title-subscribe">{{ this.title }} {{ t_keynote_speakers }} ({{ speakers.count()}})</h1>
                <div class="commet"></div>
                {% for speaker in speakers %}
                  {{ render_keynote_speaker(speaker, index=loop.index, details=True) }}
                  {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
{%- endblock -%}