{% extends "layout.html" %}

{% block body %}
<body class="background-code">
  <div class="container-fluid">
    <div class="section-container">
      <div class="container">
        <div class="section">
          <div class="row justify-content-center align-self-center">
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="row justify-content-center align-self-center">
              <h1 class="code-title">{{ this.title }}</h1>
              </div>
              <div class="row justify-content-center align-self-center">
                {{ this.body }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
