{% extends "layout.html" %}

{% block body %}
<div class="mdl-layout mdl-js-layout layout-home"></div>
  <main>
    <!-- class="mdl-layout__content" -->
    <div>
      <!-- class="page-content" -->
      <div class="background-code">
        <div class="background-stars">
          <div class="container-fluid header-content background-meteor">
            <div class="container">
              <div class="section">
                <div class="row justify-content-center align-self-center">
                  <div class="col-md-10 col-sm-12 col-xs-12 mx-auto">
                    <div style="margin-bottom: 100px;">
                      <div class="row justify-content-center align-self-center">
                        <h1 class="title-subscribe">{{ this.title }} </h1>
                      </div>
                      <div class="commet"></div>
                      <div style="margin-top: 40px;">
                        {{ this.body }}
                      </div>
                    </div>
                    {% include 'partials/_footer.html' %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
</div>
{% endblock %}
