{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block vectors %}{% endblock %}
{% block banner_text %}
<div class="container-fluid">
  <div class="banner">
    {% block banner %}
    <div class="banner-image">
      <img src="/{{ this._id }}/{{ this.banner }}" class="banner"/>
      <div class="banner-text">
        <h1>{{ this.title }}</h1>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
{% endblock %}

{% block content %}
      <div class="container-fluid light-section">
        <div class="section-container">
          <div class="container">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 mx-auto">
            {% block body %}
              {{ this.body }}
            {% endblock %}
            </div>
          </div>
        </div>
      </div>

{% endblock %}
