{%- from "macros/team_members.html" import render_team_member -%}
{%- from "macros/translation.html" import transbag -%}

{% extends "layout.html" %}

{% block body %}
<div class="mdl-layout mdl-js-layout layout-home"></div>
  <main>
    <!-- class="mdl-layout__content" -->
    <div>
      <!-- class="page-content" -->
      <div class="background-code">
        <div class="background-stars">
          <div class="container-fluid header-content background-meteor">
            <div class="container">
              <div class="section">
                <div class="row justify-content-center align-self-center">
                  <div class="col-md-10 col-sm-12 col-xs-12 mx-auto">
                    <div style="margin-bottom: 100px;">
                      <div class="row justify-content-center align-self-center">
                        <h1 class="title-subscribe">{{ this.title }} </h1>
                      </div>
                      <div class="commet"></div>
                      <div >
                        {{ this.body }}

                        {% for name, categories in [['Organizers', ['Organizer', 'Co-Organizer']],
                        ['Collaborators', ['Collaborator']]] %}
                              {# ,
                              ['Volunteers', ['Volunteer']], ['Ambassors', ['Ambassor']]] %} #}
                          <h2 class="team-title">{{ transbag('translate', this.alt, name) }}</h2>
                          <div class="row justify-content-center">
                          {% for category in categories %}
                            {% set members = site.query('/equipo', alt=this.alt).filter(F.category==category).filter(F.publish) %}
                            {% for member in members %}
                              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                {{ render_team_member(member, loop.index, alt=this.alt) }}
                              </div>
                            {% endfor %}
                          {% endfor %}
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    {% include 'partials/_footer.html' %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
</div>
{% endblock %}